<p>Vous pouvez louer un vélo ici </p>

<div class="form-group">

    <label for="">Id Velo</label>
    <input type="text" class="form-control" placeholder="Veuillez préciser l'id du vélo" style="width: 500px;">
    <br>
    <label for="">Id Client</label>
    <input type="text" class="form-control" placeholder="Veuillez préciser l'id du client" style="width: 500px;">
    <br>
    <label for="">Lieu</label>
    <input type="text" class="form-control" placeholder="Ou ?" style="width: 500px;">
    <br>
    <label for="">Prix</label>
    <input type="text" class="form-control" placeholder="Total prix" style="width: 500px;">


    <br>
    <form class="form-inline">
        <div class="form-group">
            <label for="">Date de location</label><br>
            <div class="input-group date">
                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" />
                <div class="input-group-append">
                    <span class="glyphicon glyphicon-calendar input-group-text">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
        </div>
    </form>

    <br>
    <form class="form-inline">
        <div class="form-group">
            <label for="">Date de retour</label><br>
            <div class="input-group date">
                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" />
                <div class="input-group-append">
                    <span class="glyphicon glyphicon-calendar input-group-text">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
        </div>
    </form>

    <br>
    <button class="btn btn-outline-danger btn-round">Louer un vélo</button>

</div>
