<p>Vous pouvez ajouter un vélo ici </p>
<div class="card">
    <div class="card-body">
<div class="form-group">
    

    <label for="">Référence :</label>
    <input type="text" class="form-control" placeholder="Default" style="width: 500px;">

    <label for="">Nom vélo :</label>
    <input type="text" class="form-control" placeholder="Default" style="width: 500px;">

    <label for="">Stock :</label>
    <input class="form-control" type="number" value="1" style="width: 75px;"><br>

    <label for="">Taille :</label>
    <input type="text" class="form-control" placeholder="Default" style="width: 500px;">

    <label for="">Type :</label>
    <input type="text" class="form-control" placeholder="Default" style="width: 500px;">

    <label for="">Prix :</label>
    <input type="text" class="form-control" placeholder="Default" style="width: 500px;">

</div>



<button class="btn btn-outline-danger btn-round">Ajouter vélo</button>
    </div>
</div>