<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true"
        style="background-image: url('./assets/img/murillo.jpg');">
        <div class="filter"></div>
    </div>


    <div class="section profile-content">
        <div class="container">
            <div class="angular-logo">
                <img src="assets/img/rentabike.png" alt="">
            </div>


            <div class="colonne" style="margin-left: 300px;">
                <div class="form-group">
                    <label for="">Nom</label>
                    <input type="text" class="form-control" placeholder="Nom" style="width: 500px;">
                </div>
            </div>
            <div class="colonne" style="margin-left: 300px;">
                <div class="form-group">
                    <label for="">Prénom</label>
                    <input type="text" class="form-control" placeholder="Prénom" style="width: 500px;">
                </div>
            </div>
            <div class="colonne" style="margin-left: 300px;">
                <div class="form-group">
                    <label for="">Telephone</label>
                    <input type="text" class="form-control" placeholder="Telephone" style="width: 500px;">
                </div>
            </div>
            <div class="colonne" style="margin-left: 300px;">
                <div class="form-group">
                    <label for="">Email</label>
                    <input type="text" class="form-control" placeholder="Email" style="width: 500px;">
                </div>
            </div>
            <div class="colonne" style="margin-left: 300px;">
                <div class="form-group">
                    <label for="">CIN</label>
                    <input type="text" class="form-control" placeholder="CIN" style="width: 500px;">
                </div>
            </div>
            <div class="colonne" style="margin-left: 300px;">
                <div class="form-group">
                    <label for=""> Login</label>
                    <input type="text" class="form-control" placeholder=" Login" style="width: 500px;">
                </div>
            </div>
            <div class="colonne" style="margin-left: 300px;">
                <div class="form-group">
                    <label for="">Password</label>
                    <input type="text" class="form-control" placeholder="Password" style="width: 500px;">
                </div>
            </div>
            <div class="row" style="margin-left: 500px;">
                <div class="col-md-8">

                    <button type="button" class="btn btn-primary btn-round">Valider</button>
                </div>
            </div>


        </div>
    </div>
</div>